﻿<nav class="navbar navbar-inverse nt-docs-nav" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Notify</a>
        </div>
        <a href="/profile" class="btn btn-outline-inverse navbar-btn pull-right">@Model.DisplayName</a>
    </div>
</nav>