﻿@Master['MasterPage']

@Section['Content']
<p class="lead">Hi @Model.GivenName</p>
<p class="lead">Your username is <span class="highlight">@Model.UserName</span>. Your email is 
    <br />
    <a class="highlight" href="mailto:@Model.EmailAddress">@Model.EmailAddress</a>.
    And your rights are <span class="highlight">Admin</span>
    </p>
@EndSection