﻿.nt-home,
.nt-header {
  color: #cdbfe3;
  background-color: #563d7c;
}

.nt-docs-nav
{
  text-shadow: 0 -1px 0 rgba(0,0,0,.15);
  background-color: #563d7c;
  border-color: #463265;
  box-shadow: 0 1px 0 rgba(255,255,255,.1);
}

.nt-docs-nav .navbar-brand {
  color: #fff;
}

.btn-outline-inverse {
  color: #fff;
  background-color: transparent;
  border-color: #cdbfe3;
}

.btn-outline-inverse:hover,
.btn-outline-inverse:focus,
.btn-outline-inverse:active {
  color: #563d7c;
  text-shadow: none;
  background-color: #fff;
  border-color: #fff;
}

.highlight,
a.hightlight:hover
{
    color: #FFF;
    text-decoration: underline;
}